.text {
  border: 3px dashed green;
  border-radius: 5px;
  width: 500px;
  padding: 15px;
  color:  green;
  font-weight: 800;
}

button{
  padding: 5px 15px 5px 15px;
  border: 5px solid darkslategrey;
  color: black;
  background: white;
  font-weight: bold;
}

.colorButtonOn{
  color: white;
  background: black;
  font-weight: bold;
}

